#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  background-image: url("/welcome-page.png");
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 700px;
  width: 1000px;
  border-radius: 2px;
  margin: auto;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  line-height: 120%;
}

#modal-footer {
  margin-top: 10rem;
}

#close {
  background-color: #38b6ff;
  border: 3px solid;
  border-color: #007efc;
  border-radius: 8px;
  width: 300px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 0px;
  cursor: pointer;
  margin-top: 55%;
  margin-left: 35%;
  transition: 200ms;
}

#close:hover {
  background-color: #007efc;
}

body {
  background-color: lavenderblush;
  background-image: url("/FFX-background.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h2 {
  margin: 20px 0px 5px 15px;
  text-align: center;
  font-size: 30px;
}

.card-container {
  width: 850px;
  height: 580px;
  max-width: 80%;
  border-color: #333333;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0px;
  margin: 0px 0px 60px 0px;
}

#answer1 {
  border: none;
  background-color: #38b6ff;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 15px;
  margin: 25px 15px 25px 15px;
  cursor: pointer;
}

#answer1:hover {
  background-color: #0aa3fc;
}

#answer2 {
  border: none;
  background-color: #38b6ff;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 15px;
  margin: 25px 15px;
  cursor: pointer;
}

#answer2:hover {
  background-color: #0aa3fc;
}

#answer3 {
  border: none;
  background-color: #38b6ff;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 15px;
  margin: 25px 15px;
  cursor: pointer;
}

#answer3:hover {
  background-color: #0aa3fc;
}

#answer4 {
  border: none;
  background-color: #38b6ff;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 15px;
  margin: 25px 15px;
  cursor: pointer;
}

#answer4:hover {
  background-color: #0aa3fc;
}

#charImg {
  text-align: center;
  margin: auto;
  padding-top: 5px;
  max-height: 250px;
  max-width: 300px;
}

#button-container {
  margin-top: 50px;
  margin-right: 10px;
}
